<header class="h-100">
    <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar intro-fixed-nav" [containerInside]="false">
      <mdb-navbar-brand>
        <a class="logo navbar-brand" href="#">
          <strong>Zoo Quotes</strong>
        </a>
      </mdb-navbar-brand>
      <links>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active waves-light" mdbWavesEffect>
            <a class="nav-link">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link">Link</a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link">Profile</a>
          </li>
        </ul>
      </links>
    </mdb-navbar>

    <!-- Main -->
    <div class="main-view intro-2 container-fluid"> 
        <div class="row ">
            <div class="col-md-9">
                <div class="card-main d-flex">
                    <!-- Card -->
                    <mdb-card class="card col-" *ngFor="let quote of techQuotes;let i=index" style="width: 24rem; ">
                      
                      <!--Card content-->
                      <mdb-card-body>
                        <!--Title-->
                        <mdb-card-title>
                          <h4 class="h1">{{quote.id}}</h4>
                        </mdb-card-title>
                  
                        <!--Text-->
                        <mdb-card-text> {{quote.quote}}
                        </mdb-card-text>
                  
                        <a href="#" mdbBtn color="primary" gradient="aqua" class="white-text" mdbWavesEffect (click)='showQuoteDetails(i)'>See More</a>
                
                      </mdb-card-body>
                      <div class="card-text"*ngIf="quote.showQuoteDescription">
                        <p><i class="far fa-thumbs-up" (click)='addLike(i)' (click)='mostPopularQuote()'></i>  <i style="text-indent: 2em;" (click)='addDislike(i)' class="far fa-thumbs-down    "></i></p>
                        <div class="container-fluid" id="buttons">
                          <button class="btn btn-sm btn-success" (click)='addLike(i)' (click)='mostPopularQuote()'>{{quote.upVote}} <i class="fa fa-thumbs-up" id="like"></i></button> 
                          <button class="btn btn-sm hate" id="hate" (click)='addDislike(i)'>{{quote.downVote}} <i class="fa fa-thumbs-down" id="dislike"></i></button> 
                        </div>
                        <app-quote-details [quote]='quote' (isDeleted)='deleteTechQuotes($event,i)'></app-quote-details>

                      </div>
                    </mdb-card>
                    <!-- Card -->
                  </div>
                    
            </div>
  
        </div>    
        <!-- /.Main -->

    </div>
    
</header>
  <!--Main Navigation-->

