<header class="h-100">
    <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar intro-fixed-nav" [containerInside]="false">
      <mdb-navbar-brand>
        <a class="logo navbar-brand" href="#">
          <strong>Zoo Quotes</strong>
        </a>
      </mdb-navbar-brand>
      <links>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active waves-light" mdbWavesEffect>
            <a class="nav-link">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link">Link</a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link">Profile</a>
          </li>
        </ul>
      </links>
    </mdb-navbar>

    <!-- Main -->
    <div class="main-view intro-2"> 
        <div class="card-deck ">
            <!-- Card -->
            <mdb-card *ngFor="let quote of techQuotes;let i=index">
              <div class="view overlay waves-light" mdbWavesEffect >
                <mdb-card-img src="../assets/images/16.jpg" alt="Card image cap"></mdb-card-img>
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
              <!--Card content-->
              <mdb-card-body>
                <!--Title-->
                <mdb-card-title>
                  <h4 class="h1">{{quote.id}}</h4>
                </mdb-card-title>
          
                <!--Text-->
                <mdb-card-text> {{quote.quote}}
                </mdb-card-text>
          
                <a href="#" mdbBtn color="primary" gradient="aqua" class="white-text" mdbWavesEffect (click)='showQuoteDetails(i)'>See More</a>
              </mdb-card-body>
            </mdb-card>
            <!-- Card -->
  
        </div>    
        <!-- /.Main -->

    </div>
    
</header>
  <!--Main Navigation-->

  <!--Main Layout-->
  <main class="text-center py-5">

    <div class="container">
      <div class="row">
        <div class="col-md-12">

          <p align="justify">Simple Quote App</p>

        </div>
      </div>
    </div>

  </main>
  <!--Main Layout-->
<div class="main">


</div>