.popularQuote{
    width: 20%;
    float: right;
}
.card-columns{
    column-count: 5;
}
.main-view {
    background: url("https://mdbootstrap.com/img/Photos/Others/img (40).jpg")no-repeat center center;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

.navbar {
    background-color: transparent;
}

.top-nav-collapse {
    background-color: #4285F4;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #4285F4;
    }
}

.card-deck {
    padding-top: 5%;
    padding-bottom: 5%;
    
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 5%;
}
.card-main {
    padding: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card {
    border: 2px solid aliceblue;
}
.view .card-text {
    background-color: whitesmoke;
    height: 20vh;
    padding-bottom: 5%;
}